.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*html
analysis/*_cache
*rpubs.html
*.svg
/lectures/01_z5_data_sources/
/administrative
lectures/17_central_limit_theorem/cache/